/**
 * Define all the colors used througout the app
 */

// Background Colors
$body-bg-color: #FBFBFB;

// Colors
$breadcrumb-color: #20a8d8;
$breadcrumb-active-color: #9fa1a3;

$primary-blue-color: #1d97c2;
$secondary-blue-color: #37A9D8;

$primary-black-color: #2a2c36;